body{
    background-color: black;
}

h1{
text-transform: uppercase;
font-size: 2rem;
 color: white;
 text-align: center;
 border: solid white;
 margin-top: 50px;
}

h2{
    margin-left: 500px;
    color: white;
}

#Prateek{
    border: solid white;
    margin-top: auto;
    margin-left: auto;
    width: auto;
    height: auto;
     
}





